#header-hero {
    background-image: url(../img/hero\ image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
    height: 1036px;
    overflow: hidden;
}

#header-hero a {
    text-decoration: none;
}

nav {
    display: grid;
    justify-content: right;
    grid-template-columns: 453px 144px;
    align-items: center;
    margin: 0 50px;
    
}

nav ul {
    list-style: none;
    justify-items: right;
    justify-content: end;
}

nav a {
    color: white;
}

#nav-grid {
    grid-template-columns: 72px 72px 107px 97px 62px;
    margin: 20px 30px;
    column-gap: 5px;
}

nav a .text-blue {
    color: #15e0fb;
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 107px;
    align-items: center;
}

.logo-area {
    column-gap: 20px;
    justify-content: left;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#name {
    text-align: right;
}


/* Hero section */

#hero-section h1 {
    font-size: 100px;
    margin: 107px 0px 10px 74px;
}


/* Main */

main {
    margin-left: 79px;
    margin-top: 117px;
}

/* About */

#about {
    display: grid;
    grid-template-rows: 79px 987px;
}

#about-text {
    padding: 100px 350px 200px 150px;
    display: grid;
    row-gap: 50px;
}