#header-hero {
    background-image: url(../img/hero\ image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#header-hero a {
    text-decoration: none;
}

nav {
    display: grid;
    justify-content: right;
    grid-template-columns: 453px 144px;
    align-items: center;
    margin: 0 50px;
    
}

#hamburger {
    display: none;
}

nav ul {
    list-style: none;
    justify-items: right;
    justify-content: end;
}

nav a {
    color: white;
}

nav a:hover {
    color: #15e0fb;
}

#nav-grid {
    grid-template-columns: 72px 72px 107px 97px 62px;
    margin: 20px 30px;
    column-gap: 5px;
}

nav a .text-blue {
    color: #15e0fb;
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 107px;
    align-items: center;
}

.logo-area {
    column-gap: 20px;
    justify-content: left;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#name {
    text-align: right;
}


/* Hero section */

#hero-section h1 {
    font-size: 100px;
    margin: 107px 0px 10px 74px;
}


/* Main */

main {
    margin-left: 79px;
    margin-top: 117px;
}

/* About */

#about {
    display: grid;
    grid-template-rows: 79px 987px;
}

#about-text {
    padding: 50px;
    display: grid;
}
#portrait-big {
    width: 610px;
    height: 810px;
    object-fit: cover;
    object-position: 50% 50%;
}
#portrait-small {
    display: none;
}

/* Publications section */

#publications {
    background-color: black;
    margin-left: -79px;
    border-width: 180px 77px;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#publication-text {
    display: grid;
    row-gap: 60px;
    margin-right: 70px;
    
}

#pub-btn {
    font-size: 20px;
    margin-right: 320px;
    margin-top: -50px;
    align-self: center;
    padding: 10px;
    font-weight: bold;
}

.slideshow-container {
    justify-self: center;
}

.prev, .next {
    cursor: pointer;
    color: rgb(117, 117, 117);
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    font-size: 30px;
    position: absolute;
}

.prev {
    margin-top: -250px;
    margin-left: -50px;
}

.next {
    margin-top: -250px;
    margin-left: 345px;
}

/* Hide the images by default */
.mySlides {
    display: none;
  }
#book1 {
    display: inline-block;
}


/* Speaking section */

#speaking {
    background-color: white;
    margin-left: -79px;
    border-width: 180px 77px;
    border-color: white;
    border-style: solid;
    display: grid;
    row-gap: 60px;
}


#video1 {
    background-image: url(../img/video1.jpg);
}

#video2 {
    background-image: url(../img/video2.jpg);
}

#video3 {
    background-image: url(../img/video3.jpg);
}

/* Footer section */

footer {
    margin-left: 79px;
}

/* Awards section */

#awards {
    display: grid;
    row-gap: 70px;
    background-color: white;
    margin-left: -79px;
    border-width: 180px 77px;
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
}

.award-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* Contact info section */


#contact {
    background-color: black;
    margin-left: -79px;
    border-width: 180px 77px;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact p {
    line-height: 1.25em;
    font-size: 44px;
    color: white;
    font-weight: bold;
}

#copyright-info {
    background-color: black;
    margin-left: -79px;
    border-width: 0px 77px;
    border-color: black;
    border-style: solid;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: white;
}


/* Static image */

#static-image {
    height: 483px;
    background-image: url('/img/static\ image.webp');
    margin-left: -79px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}