*
{
    padding: 0;
    margin: 0;
}

.grid
{
    display:grid;
}

.grid-col-1
{
    grid-template-columns: 1fr;
}

.grid-col-2
{
    grid-template-columns: 1fr 1fr;
}

.grid-col-3
{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-4
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-5
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.helvetica {
    font-family: Arial, Helvetica, sans-serif;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: lighter;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #15e0fb;
}

.btn {
    padding: 5px;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}

.btn-primary {
    border-color: #15e0fb;
    color: #15e0fb;
}

.btn-primary:hover {
    background-color: #15e0fb;
    color: black;
}

a {
    text-decoration: none;
}

.section-title {
    letter-spacing: 0.5em;
    line-height: 1.2em;
    font-size: 19px;
    font: helvetica;
    font-weight: bold;
    text-transform:uppercase;
    color: rgb(117, 117, 117);
}

.font-big-bold {
    font-size: 34px;
    font-weight: bold;
}

.font-big {
    line-height: 1.6em;
    font-size: 24px;
    font-weight: lighter;
}

.video-box {
    display: grid;
}

.video-image {
    display: grid;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 80px;
    justify-content: center;
    align-content: center;
    
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fa-play-circle {
    color: white;
}

.video-text {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 11.5px;
    max-height: 54px;
    font-weight: bold;
    margin-right: 80px;
    color: black;
}

.btn-secondary {
    background-color: #15e0fb;
    color: black;
    font-size: 20px;
    max-width: 292px;
    align-self: center;
    justify-self: center;
    width: 284px;
    height: 45px;
    align-content: center;
    display: grid;
}

.btn-secondary a {
    padding: 40px;
}

.btn-secondary:hover {
    background-color: rgba(217, 251, 255);
    border-color: transparent;
    transition: 0.3s;
}

.award-center {
    justify-self: center;
}

.award-end {
    justify-self: end;
}

.animate__fadeInUp {
    --animate-duration: 1.5s;
  }